<%- include("./headnav.ejs") %>

    <section class="dashboard">

        <%- include('./nav.ejs')%>


            <div class="dashboard__content" id="orderswrapper">

                <div class="dashboard__content__container">
                    <button class="dashmobile_btn" id="dashmenus">Dashboard Menus</button>
                    <div class="dashboard__content__container__header">
                        <h4 class="dashboard__content__container__header__title">Languages</h4>
                        <div class="dashboard__content__container__header__content">
                            <h5 class="dashboard__content__container__header__contentitle">Create a new Language</h5>
                            <a href="<%= path %>admin/languages/createlanguage" class="art_btn dashboard__content__container__header__contentbtn" id='createlanguage'>Create language</a>
                        </div>
                    </div>

                    <div class="dashboard__content__container__body">

                        <div class="dashboard__content__container__body__header">

                            <h6 class="dashboard__content__container__body__header__title">All Languages</h6>

                        </div>

                        <div class="dashboard__content__container__body__table" id="blogwrapper">
                            <% if(typeof languageData !== 'undefined'){
                        
                        if(Object.keys(languageData).length){
                            for (let key in languageData){%>


                                <div class="dashboard__content__container__header__content blogcontainer">
                                    <h5 class="dashboard__content__container__header__contentitle">
                                        <%= languageData[key].name %>
                                    </h5>
                                    <div class="art_options_co">
                                        <a href="<%= path %>languages/edit?key=<%= key %>" class="art_btn dashboard__content__container__header__contentbtn languagecontainer__editbtn" id='viewlanguage'>Delete Language</a>
                                        <a href="<%= path %>languages/edit?key=<%= key %>" class="art_btn dashboard__content__container__header__contentbtn languagecontainer__editbtn" id='viewlanguage'>Activate Language</a>
                                        <a href="<%= path %>languages/edit?key=<%= key %>" class="art_btn dashboard__content__container__header__contentbtn languagecontainer__editbtn" id='viewlanguage'>Edit Language</a>
                                    </div>

                                </div>
                                <%  }
                        }
                    } %>


                        </div>


                    </div>

                </div>
            </div>

    </section>