<div class="dashboard__links" id="dashboard__links" ">
        <a class="dashboard__links__link <%=a ctive==='orders' ? 'active': '' %>
    " href="/admin/orders"> <i class="lni lni-delivery"></i> Orders</a>
    <a class="dashboard__links__link <%= active==='blogs'?'active':'' %>" href="/admin/blogs"> <i class="lni lni-blogger"></i> Blog</a>
    <a class="dashboard__links__link <%= active==='languages'?'active':'' %>" href="/admin/languages"> <i class="lni lni-comments-alt"></i> Language</a>
    <a class="dashboard__links__link <%= active==='products'?'active':'' %>" href="/admin/products"> <i class="lni lni-map-marker"></i> Products</a>
    <a class="dashboard__links__link <%= active==='categories'?'active':'' %>" href="/admin/categories"> <i class="lni lni-funnel"></i>Categories</a>
    <a class="dashboard__links__link <%= active==='settings'?'active':'' %>" href="/admin/settings"> <i class="lni lni-cogs"></i>Settings</a>
</div>
<div class="overlay" id="overlay"></div>