<footer class="art_footer">
    <!-- Stylish -->
    <span class="art_stylish_" style="fill:#2e353b"> 
        <svg width="1440" height="195" viewBox="0 0 1440 195" fill="currentColor" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M457.815 155.862C277.008 146.247 0 82.6039 0 82.6039V195H1440V82.6039C1440 82.6039 1356.59 51.8217 1305.88 33.9323C956 -89.5001 791.938 173.631 457.815 155.862Z" />
        </svg>
    </span>
    <div class="art_footer_co">
        <div class="art_footer_impo_links_cards">
            <div class="art_footer_impo_links_card">
                <div class="art_header">
                    <div class="art_title">
                        <h5>About us</h5>
                    </div>
                </div>
                <div class="art_body">
                    <span class="art_body_desc">
                        <p>In no impression assistance contrasted. Manners she wishing justice hastily new anxious. At discovery discourse departure objection we.</p>
                    </span>
                    <div class="art_body_address_co">
                        <div class="art_body_address">
                            <h6 class="art_address_title">P.O Box</h6>
                            <p>52572 - 00200 Nairobi</p>
                        </div>
                        <div class="art_body_address">
                            <h6 class="art_address_title">Email</h6>
                            <p><a href="mailto:info@togree.com">info@togree.com</a></p>
                        </div>
                        <div class="art_body_address">
                            <h6 class="art_address_title">WhatsApp</h6>
                            <p><a href="tel:+254202006380">+254 - 0202006380</a></p>
                        </div>
                        <div class="art_body_address">
                            <h6 class="art_address_title">Phone</h6>
                            <p><a href="tel:+254202006380">+254 - 0202006380</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="art_footer_impo_links_card">
                <div class="art_header">
                    <div class="art_title">
                        <h5>Quick Links</h5>
                    </div>
                </div>
                <div class="art_body">

                    <div class="art_body_links_co">
                        <p><a href="../about-us">About us</a></p>
                        <p><a href="product-us/our_story">Brief History</a></p>
                        <p><a href="contact-us">Contact us</a></p>
                        <p><a href="contact-us">Our products</a></p>
                        <p><a href="contact-us">Our product</a></p>
                        <p><a href="frenquent_questions">FAQs</a></p>
                        <p><a href="privacy-policy">Privacy Policy</a></p>
                        <p><a href="terms-and-conditions">Terms and Conditions</a></p>
                        <p><a href="return-policy">Return Policy</a></p>
                    </div>
                </div>
            </div>
            <div class="art_footer_impo_links_card">
                <div class="art_header">
                    <div class="art_title">
                        <h5>Products Categories</h5>
                    </div>
                </div>
                <div class="art_body">
                    <div class="art_body_links_co">
                        <p><a href="product_us">Live Tracking Units</a></p>
                        <p><a href="product_us/our_story">Tk08 GPS Asset Tracker</a></p>
                        <p><a href="product_us/our_story">Tk08 Plus GPS Asset Tracker</a></p>
                        <p><a href="product_us/our_story">3S GPS Asset Tracker</a></p>
                        <p><a href="product_us/our_story">AT4 GPS Asset Tracker</a></p>
                        <p><a href="product_us/our_story">TY5 Sollar Tracker</a></p>
                        <p><a href="product_us/our_story">SG20 GPS Asset Tracker</a></p>
                    </div>
                </div>
            </div>
            <%#
            <div class="art_footer_impo_links_card art_tweets">
                <div class="art_header">
                    <div class="art_title">
                        <h5>Latest News</h5>
                    </div>
                </div>
                <div class="art_body">
                    <div class="art_body_tweets_co">
                        <div class="art_body_tweet_card">
                            <div class="art_tweet_header">
                                <h5>She wishing justice hastily new</h5>
                            </div>
                            <div class="art_tweet_body">
                                <p>It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets.</p>
                            </div>
                            <div class="art_tweet_foot">
                                <p>It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets.</p>
                            </div>
                        </div>
                        <div class="art_body_tweet_card">
                            <div class="art_tweet_header">
                                <h5>She wishing justice hastily new</h5>
                            </div>
                            <div class="art_tweet_body">
                                <p>It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets.</p>
                            </div>
                            <div class="art_tweet_foot">
                                <p>It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets.</p>
                            </div>
                            <a href="#!" class="art_foot_link"><strong>Read all articles</strong></a>
                        </div>

                    </div>
                </div>
            </div>
            %>
                <div class="art_footer_impo_links_card art_connect">
                    <div class="art_header">
                        <div class="art_title">
                            <h5>
                                <%- lang_("Let's_Keep_connected") %>
                            </h5>
                        </div>
                    </div>
                    <div class="art_footer_connect">

                        <div class="art-foot-social">
                            <a class="art-social-icon" href="<%= lang_('@company_facebook') %>" target="_blank">
                            <img src="<%= typeof path !== "undefined"?path:'' %>assets/img/social/facebook2.png" alt="<%= lang_('@company_title') %> Facebook" />
                        </a>
                            <a class="art-social-icon" href="<%= lang_('@company_linkedin') %>" target="_blank">
                            <img src="<%= typeof path !== "undefined"?path:'' %>assets/img/social/linkedin2.png" alt="<%= lang_('@company_title') %>  Linkedin" />
                        </a>
                            <a class="art-social-icon" href="<%= lang_('@company_instagram') %>" target="_blank">
                            <img src="<%= typeof path !== "undefined"?path:'' %>assets/img/social/instagram2.png" alt="<%= lang_('@company_title') %>  Instagram" />
                        </a>
                            <a class="art-social-icon" href="<%= lang_('@company_twitter') %>" target="_blank">
                            <img src="<%= typeof path !== "undefined"?path:'' %>assets/img/social/twitter2.png" alt="<%= lang_('@company_title') %>  Twitter" />
                        </a>

                        </div>
                        <div class="art_subscribe_co">

                            <form action="<%= typeof path !== " undefined "?path:'' %>api/subscribe" method="post">
                                <div class="art_input_co">
                                    <input type="email" class="art_input" name="subscribe_email" placeholder="Type your email address here"></div>
                                <button type="submit" class="art_btn art_gree_btn filled waves-effect waves-light" name="subscribe">subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="art_footer_co_2">
        <div class="art_copyright">
            <p>Copyright &copy; Togree Company Limited - All Rights Reserved</p>
        </div>
        <div class="art_return_msg">
            <p>If you notice any malfunction on the products you purchased,
                <a href="products/report">report it to us</a>
            </p>
        </div>
    </div>
</footer>