<nav class="art-nav ">
    <div class="art_nav-right">
        <%#!-- Menu button -->
        <button class="art_menu_btn art_btn waves-effect sidenav-trigger" name="menu_button" id="menu-btn" role="button" aria-label="Menu button" data-target="menu-nav">
            <svg width="44" height="28" viewBox="0 0 44 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 1C0 1 26.8169 1 44 1M0 14.5H30M0 27H44" stroke="black"></path>
            </svg>
        </button>
        %>
            <!-- Logo link -->
            <a class="art-brand" href="<%= typeof path !== 'undefined'?path:'' %>products">
                <svg id="Õ_1" data-name="Õº≤„ 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 516.73 110.51" fill="#009b4e">
                <path d="M133.68,459.68H74.28a55.17,55.17,0,0,0,5.54,18.7A55.27,55.27,0,0,0,116,374.17a59.36,59.36,0,0,1,.48,64.42h17.21Z" transform="translate(-39.24 -369.84)" style="fill:currentColor;fill-rule:evenodd"/>
                <path d="M74.06,450a55.31,55.31,0,0,0,40.88-49.84A55.27,55.27,0,0,0,74.06,450Z" transform="translate(-39.24 -369.84)" style="fill:#adcf21;fill-rule:evenodd"/>
                <path d="M63.27,443.43a58.5,58.5,0,0,1,9.26-31.83H55.32V390.5h59.39a54.67,54.67,0,0,0-5.54-18.69A55.27,55.27,0,0,0,73,476a57.68,57.68,0,0,1-9.17-24.28A59.63,59.63,0,0,1,63.27,443.43Z" transform="translate(-39.24 -369.84)" style="fill:currentColor;fill-rule:evenodd"/>
                <polygon points="117.09 27.45 180.57 27.45 179.53 34.08 117.09 34.08 117.09 27.45" style="fill:currentColor;fill-rule:evenodd"/>
                <polygon points="126.79 82.85 142.4 82.85 157.48 29.89 141.86 29.89 126.79 82.85" style="fill:currentColor;fill-rule:evenodd"/>
                <path d="M484.26,445.58H460.65c-7.94,0-13.64-9.27-12.68-20.59s8.25-20.59,16.19-20.59h28.76l1.17-7.12H458.62c-12.7,0-24.36,12.47-25.91,27.71s7.59,27.7,20.3,27.7h30.31Z" transform="translate(-39.24 -369.84)" style="fill:currentColor;fill-rule:evenodd"/>
                <path d="M546.14,445.58H522.53c-7.93,0-13.64-9.27-12.67-20.59S518.1,404.4,526,404.4H554.8l1.17-7.12H520.5c-12.7,0-24.36,12.47-25.9,27.71s7.59,27.7,20.29,27.7H545.2Z" transform="translate(-39.24 -369.84)" style="fill:currentColor;fill-rule:evenodd"/>
                <path d="M307.22,425C309.59,413.66,318,404.4,326,404.4h32.88l1.46-7.12H317.88c-12.73,0-24.86,12.47-27,27.71s6.6,27.7,19.33,27.7h35.88l3.09-7.11,10.83-24.93H327v6.41H342.1l-7.83,18.52H317.34C309.4,445.58,304.85,436.31,307.22,425Z" transform="translate(-39.24 -369.84)" style="fill:currentColor;fill-rule:evenodd"/>
                <rect x="405.46" y="51.94" width="42.15" height="6.16" style="fill:currentColor"/>
                <rect x="467.34" y="51.94" width="42.15" height="6.16" style="fill:currentColor"/>
                <path d="M404.56,420.08a9.81,9.81,0,0,1-2.89.47H389.21l3.18,5.72,10.73,19.31,3.28,5.9h18.15l-3.28-5.9-10.74-19.31h.3c8.2,0,16.51-6.52,18.46-14.49a12.62,12.62,0,0,0-.28-7.38c-1.57-4.25-5.65-7.12-11.09-7.12H374.23l-2,7.12-4.6,16.15L366,426.27l-5.49,19.31-1.33,4.66-.7,2.45h15.62l2-7.11,5.5-19.31,1.63-5.72,2-7.13.86-3,1.71-6h20.46c4.44,0,6.59,3.63,4.78,8.07a14,14,0,0,1-6.43,6.76A12.6,12.6,0,0,1,404.56,420.08Z" transform="translate(-39.24 -369.84)" style="fill:currentColor;fill-rule:evenodd"/>
                <path d="M232.17,423.92a36.57,36.57,0,0,1,2.32-6c3.52-7.28,8.89-13.27,17.31-14.24,5.05-.57,10.28.81,13.44,4.83,5.37,6.84,3.77,15.59.34,22.85-2.69,5.71-6.64,11-11.92,13.46a17.6,17.6,0,0,1-15.79-.88c-7.36-4.32-7.84-12.52-5.7-20Zm35.29-26.64H239.65a36.89,36.89,0,0,0-16.42,10.12c-10,10.92-12.25,32.3,1.09,41.73a25.25,25.25,0,0,0,7.59,3.56h25.23c7.69-1.63,14.79-4.84,19.94-11.28,9-11.19,11.94-29.72-.5-39.43A29.55,29.55,0,0,0,267.46,397.28Z" transform="translate(-39.24 -369.84)" style="fill:currentColor;fill-rule:evenodd"/>
                </svg>
            </a>


    </div>
    <!-- Right options  -->
    <div class="art_nav-center">
        <form action="#" class="art_shop_search_form" id="shop_search" method="GET">
            <div class="art_input_co">
                <label for="top_nav_recent_search_trigger" class="art_under_search"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.6667 25.3333C20.5577 25.3333 25.3333 20.5577 25.3333 14.6667C25.3333 8.77563 20.5577 4 14.6667 4C8.77563 4 4 8.77563 4 14.6667C4 20.5577 8.77563 25.3333 14.6667 25.3333Z" stroke="#929292" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M28.0002 28L22.2002 22.2" stroke="#929292" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </label>
                <input type="text" name="q" id="top_nav_recent_search_trigger" minlength="2" class="art_input dropdown-trigger art_lang_changer" placeholder="Search here..." data-target='top_nav_recent_search' autocomplete="off">
                <button type="submit" id="s_submit" class="art_btn">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.6667 25.3333C20.5577 25.3333 25.3333 20.5577 25.3333 14.6667C25.3333 8.77563 20.5577 4 14.6667 4C8.77563 4 4 8.77563 4 14.6667C4 20.5577 8.77563 25.3333 14.6667 25.3333Z" stroke="#929292" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M28.0002 28L22.2002 22.2" stroke="#929292" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
        </form>

    </div>

    <!-- Right options  -->
    <div class="art_nav-left">
        <% if(typeof user === "undefined"){%>
            <a href="<%= path %>users/login" class="art_btn art_gree_btn filled login_btn">
                <%- lang_('Login') %>
            </a>
            <% } %>

                <% if(typeof cartItems !== "undefined") {%>
                    <button class="art_btn art_shop_cart">
                    <% if(cartItems) {%> 
                        <span class="art_cart_badge">
                            <%= Object.keys(cartItems).length  %> 
                        </span>
                    <%}%>

                    <em class="material-icons">shopping_basket</em>
                </button>
                    <%}%>
                        <% if(typeof user === "undefined"){%>
                            <button class="art_btn waves-effect dropdown-trigger art_lang_changer" data-target='top_nav_languages'>
                        <img src="<%= typeof path !== "undefined"?path:'' %>assets/img/language/<%= typeof language !== "undefined"? language:'' %>.svg" alt="<%= typeof language !== "undefined"? language:'' %> flag" >
                        <em class="material-icons">expand_more</em>
                    </button>
                            <% } %>
    </div>


    <!-- Service Dropdown Structure -->
    <div id='top_nav_recent_search' class='dropdown-content art_nav_dropdown'>
        <div class='dropdown-content_ art_menu_droper'>
            <div class="art_nav_recent_search_co" id="top_art_nav_recent_search_co">

                <div class="art_recent_s">
                    <div class="art_header"></div>
                    <%#<div class="art_header">
                        <div class="art_title">
                            <span>Recent search</span>
                        </div>
                        <button class="art_clear">
                            <em class="material-icons">clear</em>
                        </button>
                    </div> %>
                        <div class="art_body">

                            <a class="art_search_tag"></a>
                            <a class="art_search_tag"></a>
                            <a class="art_search_tag"></a>
                            <%#!-- <a class="art_search_tag">
                            <span>Motor</span>
                            <span><em class="material-icons">search</em></span>
                        </a> --%>
                        </div>
                </div>
                <div class="art_recent_s">
                    <div class="art_header">
                        <div class="art_title">
                            <span>Recommended </span>
                        </div>
                    </div>
                    <div class="art_body">
                        <a class="art_search_tag"></a>
                        <a class="art_search_tag"></a>
                        <a class="art_search_tag"></a>

                        <!-- <a class="art_search_tag">
                            <span>Motor</span>
                            <span><em class="material-icons">search</em></span>
                        </a> -->
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- Dropdown Structure -->
    <ul id='top_nav_languages' class='dropdown-content'>
    </ul>

</nav>

<script>
    document.addEventListener("DOMContentLoaded", e => {


        // let bannerScrolly = new artScrollSpy('.art_banner', 'fixed');

        getLanguages();

        var dropdowns = document.querySelectorAll('.dropdown-trigger');
        if (dropdowns.length) {
            M.Dropdown.init(dropdowns, {
                onOpenStart: e => {
                    var target = e;
                    // Find the caret
                    var caret = target.querySelector('.material-icons');
                    // change caret of the target
                    if (caret) {
                        if (caret.innerText === 'expand_more') caret.innerText = 'expand_less';
                    }
                },
                onCloseStart: e => {
                    var target = e;
                    // Find the caret
                    var caret = target.querySelector('.material-icons');
                    // change caret of the target
                    if (caret) {
                        if (caret.innerText === 'expand_less') caret.innerText = 'expand_more';
                    }

                }
            });
        }


        var top_nav_recent_search_trigger = document.querySelector('#top_nav_recent_search_trigger');
        top_nav_recent_search(top_nav_recent_search_trigger);
        top_nav_recent_search_trigger.onblur = function(e) {
            if (e.target.previousElementSibling) {
                e.target.previousElementSibling.classList.remove('hider')
            }
        };
        // 
        top_nav_recent_search_trigger.onfocus = function(e) {
            var instance = M.Dropdown.getInstance(top_nav_recent_search_trigger);

            if (e.target.previousElementSibling) {
                e.target.previousElementSibling.classList.add('hider')
            }

        };

        function getLanguages() {
            axios.get("<%= path%>language/all")
                .then(languages => {
                    languages = languages.data;
                    if (typeof '<%=language%>' !== "undefined" && typeof languages !== "undefined") {
                        const top_nav_languages = document.querySelector('#top_nav_languages');
                        top_nav_languages.innerHTML = '';
                        for (const key in languages) {

                            if (languages[key].active && languages[key].slogan !== '<%=language%>') {
                                lang_('@' + languages[key].slogan).then(data => {
                                    top_nav_languages.innerHTML += `
                            <li>
                                <a href="<%= path %>language/choose/${languages[key].slogan}?ref=${window.location.pathname}&protocol=${window.location.protocol.split(':').join('').split('/').join('') }">
                                    ${data}
                                </a>
                            </li>`
                                })


                            }
                        }
                    }
                })
        }

        loadListPages();
    });

    function loadListPages() {
        axios.get("<%= path %>api/list_pages").then(res => {
            let data = res.data;
            if (data.length) {
                let children = [];

                data.map(page => {
                    if (!page.fields.hasChildren) {
                        page = page.fields;
                        lang_(page.title).then(title => {
                            page.title = title;
                            renderFootQuickLinks(page);
                        })
                    } else {
                        children.push(page)
                    }
                })

                if (children.length) {


                    children.map(child => {
                        child = child.fields.children
                        if (child.length) {

                            child.map(under_page => {
                                under_page = under_page.fields;

                                lang_(under_page.name).then(name => {
                                    under_page.name = name;
                                    renderFootServices(under_page);
                                    renderStoreServices(under_page);
                                })

                            })

                        }
                    })
                }
            }

        }).catch(err => {
            console.error(err);
        })
    }


    function renderFootQuickLinks(page) {
        let temp = `<p><a href="<%= typeof path !== 'undefined'?path:'' %>${page.slug}"> ${page.title} </a></p>`;
        let foot_quick_links = document.querySelector('#foot_quick_links');
        if (foot_quick_links) {
            foot_quick_links.insertAdjacentHTML('AfterBegin', temp);
        }
    }

    function renderFootServices(page) {
        let temp = `<p><a href="<%= typeof path !== 'undefined'?path:'' %>services/main/${page.slug}"> ${page.name}</a></p>`;
        let foot_services = document.querySelector('#foot_services');
        if (foot_services) {
            foot_services.insertAdjacentHTML('AfterBegin', temp);
        }
    }

    function renderStoreServices(page) {
        let temp = `<a class="art_service_card waves-effect" href="${path}products/search?q=${page.slug.split('_').join(' ')}">
                    <div class="art_serv_icon">
                        <img src="${page.icon.fields.file.url}" alt="${page.name}">
                    </div>
                    <span class="art_serv_title"><h6>${page.name}</h6></span>
                </a>`;


        let store_services = document.querySelector('#store_services');
        if (store_services) {

            store_services.insertAdjacentHTML('AfterBegin', temp);
            store_services.querySelectorAll('.art_service_card').forEach((card, index) => {

                if (card.innerHTML.trim() === '') {
                    card.remove();
                }

            });
        }
    }

    function top_nav_recent_search(top_nav_recent_search_trigger) {


        if (top_nav_recent_search_trigger) {
            let anEvent = '';

            function prevD(ev) {
                anEvent = ev.target;
            }
            return M.Dropdown.init(top_nav_recent_search_trigger, {
                // hover: true,
                closeOnClick: !true,
                inDuration: 40,
                outDuration: 40,
                container: document.querySelector('.art-nav'),
                coverTrigger: !false,
                onOpenStart: e => {
                    document.addEventListener('click', prevD);

                    loadRecentSearches(M.Dropdown.getInstance(e));
                },
                onOpenEnd: e => {
                    e.focus();

                },
                onCloseStart: e => {},
                onCloseEnd: e => {
                    var instance = M.Dropdown.getInstance(e);
                    if (e === anEvent) {
                        instance.open();
                        // e.focus();

                    } else {
                        e.blur()
                        document.removeEventListener('click', prevD)
                        anEvent = ''
                    }

                }
            });
        }
    }

    function loadRecentSearches(instance) {
        if (instance && typeof instance.dropdownEl !== "undefined") {
            let top_art_nav_recent_search_co = instance.dropdownEl.querySelector('#top_art_nav_recent_search_co');
            if (top_art_nav_recent_search_co) {
                //                 top_art_nav_recent_search_co.innerHTML = '';
                // let recenTemp = `
                // `;
            }
        }
    }
</script>