<%   

    if(typeof _language !== 'undefined'){
        _language = Object.keys(_language).map(key=>{
            let d = {};
            d[key] = _language[key]
        
            return JSON.stringify(d).split('\'').join("\\'");
        
        });
    }else{
        let _language = '';
    }

    // console.log(JSON.stringify(currency));
%>
    <script>
        let path = "<%= path %>",
            language = "<%= language %>",
            globalCurrency = JSON.parse('<%- typeof currency !=="undefined"? JSON.stringify(currency):"{\"name\":\"KSH\"}" %>') || 'KSH',
            s_language = '<%- typeof _language !=="undefined"?_language:""  %>',
            _language = {};
        window.products = {};


        if (s_language.length > 1) {
            s_language.split('},').map(keyV => {
                let vaLK = keyV.replace('}', '').split(':')[1].slice(1, keyV.replace('}', '').split(':')[1].length).slice(0, keyV.replace('}', '').split(':')[1].length - 2);
                let vaLK2 = keyV.replace('}', '').split(':')[0].slice(2, keyV.replace('}', '').split(':')[0].length).slice(0, keyV.replace('}', '').split(':')[0].length - 3);
                if (vaLK.match('"')) {
                    keyV = '{"' + vaLK2.split('\\"').join("").split('"').join('\\"') + '":"' + vaLK.split('\\"').join("").split('"').join('\\"') + '"';
                }
                Object.assign(_language, JSON.parse(keyV.replace('}', '') + '}'))

                return JSON.parse(keyV.replace('}', '') + '}');
            });
        }

        function lang_(_) {

            if (typeof _language[_.trim().split(' ').join('_').toLowerCase()] !== 'undefined') {
                // console.log(_);
                return Promise.resolve(_language[_.trim().split(' ').join('_').toLowerCase()])
            }

            return axios.get(path + "language/translate/" + language, {
                    params: {
                        name: _
                    }

                })
                .then(language => {
                    language = language.data;
                    return language
                }).catch(err => {
                    lang_(_);
                    console.error(err)
                })
        }

        function formatMoney(amount, decimalCount = 2, decimal = ".", thousands = ",") {
            try {
                decimalCount = Math.abs(decimalCount);
                decimalCount = isNaN(decimalCount) ? 2 : decimalCount;

                const negativeSign = amount < 0 ? "-" : "";

                let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
                let j = (i.length > 3) ? i.length % 3 : 0;

                return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands) + (decimalCount ? decimal + Math.abs(amount - i).toFixed(decimalCount).slice(2) : "");
            } catch (e) {
                console.log(e)
            }
        }

        function ScollNavDetector() {

            let didScroll,
                lastScrollTop = 0,
                delta = 5,
                nav = document.querySelector('nav'),
                navbarHeight = nav.offsetHeight;

            document.onscroll = () => {
                didScroll = true;
            };

            setInterval(() => {
                if (didScroll) {
                    hasScrolled();
                    didScroll = false;
                }
            }, 20);

            function hasScrolled() {
                let st = this.scrollY;

                // Make sure they scroll more than delta
                if (Math.abs(lastScrollTop - st) <= delta) {
                    return;
                }
                // If they scrolled down and are past the navbar, add class .nav-up.
                // This is necessary so you never see what is "behind" the navbar.

                if (((st + window.innerHeight)) === (window.innerHeight)) {
                    nav.classList.remove('fixed');
                    document.body.style.marginTop = 0 + 'px';
                    return
                }
                if (st > lastScrollTop /* && st > navbarHeight */ ) {
                    // Scroll Down
                    nav.classList.remove('fixed');
                    document.body.style.marginTop = 0 + 'px';

                } else {
                    // Scroll Up
                    if ((st + window.innerHeight) < document.body.offsetHeight) {
                        nav.classList.add('fixed');
                        document.body.style.marginTop = navbarHeight + 'px';

                    }

                }

                lastScrollTop = st;
            }
        }

        function initializeNavMenu() {
            if (typeof M !== "undefined") {
                const navMenu = document.querySelector('#menu-nav');
                if (navMenu)
                    M.Sidenav.init(navMenu);
            }
        }

        function initializeAOSAnimations() {
            if (typeof AOS !== "undefined")
                AOS.init();
        }

        function dateCountDown(elemnent, date) {
            if (elemnent) {
                // Set the date we're counting down to
                var countDownDate = new Date(date || "05-01-2022 15:37:25").getTime();

                // Update the count down every 1 second
                var x = setInterval(function() {

                    // Get today's date and time
                    var now = new Date().getTime();

                    // Find the distance between now and the count down date
                    var distance = countDownDate - now;

                    // Time calculations for days, hours, minutes and seconds
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);


                    if (distance < 0) {
                        lang_("Expired").then(exp => {
                            // If the count down is finished, write some text
                            clearInterval(x);
                            elemnent.innerHTML = exp;

                        })
                    } else {
                        lang_("day").then(day => {
                            lang_("hr").then(hour => {
                                lang_("min").then(min => {
                                    lang_("sec").then(sec => {
                                        day = days > 1 ? day + 's' : day;
                                        hour = hours > 1 ? hour + 's' : hour;
                                        min = minutes > 1 ? min + 's' : min;
                                        sec = seconds > 1 ? sec + 's' : sec;
                                        // Display the result in the element with id="demo"
                                        elemnent.innerHTML = days + day + " " + hours + hour + " " +
                                            minutes + min + " " + seconds + sec + "";
                                    })
                                })
                            })
                        })
                    }

                }, 1000);
            }
        }

        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
            // return value.split(`; ${name}=`);
        }

        function getProductByID(products, ID) {
            let data = '';
            products.map(prod => {
                if (prod.productID === ID) {
                    return data = prod
                }
                return false
            })
            return data
        }

        function getPackegeByID(package, ID) {
            let data = '';
            package.map(pck => {
                if (pck.packageID === ID) {

                    return data = pck
                }
                return false
            })
            return data
        }

        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            // var expires = "expires=" + d.toUTCString();
            cvalue = JSON.stringify(cvalue) || cvalue;
            document.cookie = cname + "=" + cvalue + /* ";" + expires + */ ";path=/";
        }

        function setLangCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            // var expires = "expires=" + d.toUTCString();
            // cvalue = JSON.stringify(cvalue) || cvalue;
            document.cookie = cname + "=" + cvalue + /* ";" + expires + */ ";path=/";
        }

        function bake_cookie(name, value) {
            var cookie = [name, '=', JSON.stringify(value), '; domain=.', window.location.host.toString(), '; path=/;'].join('');
            document.cookie = cookie;
        }

        function read_cookie(name) {
            var result = document.cookie.match(new RegExp(name + '=([^;]+)'));
            result && (result = JSON.parse(result[1]));
            return result;
        }

        function delete_cookie(name) {
            document.cookie = [name, '=; expires=Thu, 01-Jan-1970 00:00:01 GMT; path=/; domain=.', window.location.host.toString()].join('');
        }


        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function addProductToCart(e, product_id, qty) {
            let data = {};
            data[product_id] = {
                id: product_id,
                price: products[product_id].price,
                quantity: qty || 1,
                productName: products[product_id].name
            };
            setCookie('cartItems', data);

            let cartActionsTemp = (title) => {
                return `<div class="art_cart_options"><div class="art_cart_actions" id="art_qty_${product_id}">
    <button class="art_btn art_gree_btn filled waves-effect waves-light" onclick="decreaseProductToCart(event, '${product_id}')"><em class="material-icons">remove</em></button>
    <input type="number" min="1" class="art_qty_display" id="art_qty_display_${product_id}" contenteditable="true" value="${qty || 1}" onchange="updateProductToCart(event, '${product_id}')">
    <button class="art_btn art_gree_btn filled waves-effect waves-light" onclick="increaseProductToCart(event, '${product_id}')"><em class="material-icons">add</em></button>
</div>
                <div class="art_checkout_co">
                    <button class="art_btn art_gree_btn filled waves-effect waves-light" onclick="continueToCheckout(event, '${data.product_id}')">${title}</button>
                    </div> </div>`;
            };

            let cartBtn = e.currentTarget;
            let productFooter = cartBtn.parentElement;
            if (productFooter) {
                cartBtn.style.display = 'none';
                lang_('Continue_to_Checkout').then(title => {
                    productFooter.insertAdjacentHTML('AfterBegin', cartActionsTemp(title))
                })

            }

            updateCartDOM(Object.keys(read_cookie('cartItems')).length, product_id)

        }

        function increaseProductToCart(e, product_id) {
            let cartItems = read_cookie('cartItems');

            if (cartItems[product_id]) {
                cartItems[product_id]['quantity'] = cartItems[product_id].quantity + 1;

                setCookie('cartItems', cartItems);
                let outDisplay, productFooter = e.currentTarget.parentElement.parentElement;
                if (productFooter) {

                    outDisplay = productFooter.querySelector('#art_qty_display_' + product_id);

                    if (outDisplay) {
                        outDisplay.value = cartItems[product_id]['quantity'];
                    }
                }

            }
            updateCartDOM(Object.keys(read_cookie('cartItems')).length, product_id);



        }

        function decreaseProductToCart(e, product_id) {
            let cartItems = read_cookie('cartItems');
            if (cartItems[product_id]) {
                if (cartItems[product_id]['quantity'] > 1) {
                    cartItems[product_id]['quantity'] = cartItems[product_id].quantity - 1;

                    setCookie('cartItems', cartItems);
                    let outDisplay, productFooter = e.currentTarget.parentElement.parentElement;
                    if (productFooter) {

                        outDisplay = productFooter.querySelector('#art_qty_display_' + product_id);

                        if (outDisplay) {
                            outDisplay.value = cartItems[product_id]['quantity'];
                        }
                    }
                } else {

                    let productFooter = e.currentTarget.parentElement.parentElement;

                    if (productFooter) productFooter.remove();

                    let cartBtn = document.querySelector('#add_to_cat_' + product_id);
                    if (cartBtn) cartBtn.style = '';

                    delete cartItems[product_id];
                    setCookie('cartItems', cartItems);
                }
            }
            updateCartDOM(Object.keys(read_cookie('cartItems')).length, product_id)

        }

        function updateProductToCart(e, product_id, ) {
            let value = e.currentTarget;
            let cartItems = read_cookie('cartItems');
            if (cartItems[product_id]) {

                if ((+value.value) > 0) {
                    cartItems[product_id]['quantity'] = (+value.value);

                    setCookie('cartItems', cartItems);
                    let outDisplay, productFooter = e.currentTarget.parentElement.parentElement;
                    if (productFooter) {

                        outDisplay = productFooter.querySelector('#art_qty_display_' + product_id);

                        if (outDisplay) {
                            outDisplay.value = cartItems[product_id]['quantity'];
                        }
                    }
                } else {
                    value.value = 1;
                }
            }
            updateCartDOM(Object.keys(read_cookie('cartItems')).length, product_id)

        }

        function choosePackage(e, product_id, package) {
            let [min, max] = package;

            min.match('>') ? max = (+min.split('>').join('') + 50).toString() : '';
            min = min.split('>').join('');

            let art_price_card = document.querySelectorAll('.art_price_card');
            if (art_price_card.length) {
                art_price_card.forEach(art_price => {

                    if (art_price.getAttribute('art-data-min').split('>').join('') === min) {

                        art_price.classList.add('active');
                    } else {
                        if (art_price.classList.contains('active')) {
                            art_price.classList.remove('active');
                        }

                    }
                })
            }

            let display = document.querySelector('#art_qty_display_' + product_id);
            if (display) {
                display.value = min;

                window.event = display;
                window.event.currentTarget = display;
                window.event.target = display;

                updateProductToCart(window.event, product_id);
                display.scrollTo();
            } else {
                if (document.querySelector('#add_to_cat_' + product_id)) {
                    window.event = document.querySelector('#add_to_cat_' + product_id);
                    window.event.currentTarget = document.querySelector('#add_to_cat_' + product_id);
                    window.event.target = document.querySelector('#add_to_cat_' + product_id);

                    addProductToCart(window.event, product_id, +min);

                    document.querySelector('#add_to_cat_' + product_id).scrollTo();
                }
            }
        }

        function updateCartDOM(qty, product_id) {
            let cartDOM = document.querySelector('.art_shop_cart');

            if (cartDOM) {
                if (qty > 0) {
                    let art_cart_badge = cartDOM.querySelector('.art_cart_badge');
                    if (art_cart_badge) {
                        art_cart_badge.innerText = qty.toString();
                    } else {
                        let art_cart_badgeTemp = `<span class="art_cart_badge">${qty.toString()}</span>`;
                        cartDOM.insertAdjacentHTML('afterbegin', art_cart_badgeTemp);
                    }

                    let item = read_cookie('cartItems')[product_id];
                    let art_price_card = document.querySelectorAll('.art_price_card'),
                        selectedMin = [];

                    if (item) {
                        if (typeof offersArray !== "undefined" && offersArray.length && art_price_card.length) {

                            let bestPrice = offersArray.map((offer, i) => {
                                if (typeof offer.qt[0] !== 'string') {
                                    let nextB = +offersArray[i + 1].qt[0].toString().split('>').join('');

                                    if (+item.quantity === offer.qt[0] || ((+item.quantity > offer.qt[0]) && +item.quantity + 1 <= (offer.qt[1]))) {
                                        selectedMin = offer.qt[0];
                                        return offer.price;
                                    }

                                } else {
                                    if (+item.quantity >= +offer.qt[0].split('>').join('')) {
                                        selectedMin = +offer.qt[0].split('>').join('');
                                        return offer.price;
                                    }
                                }
                            }).join('');

                            bestPrice = parseFloat(bestPrice) < +products[product_id].price ? parseFloat(bestPrice) : +products[product_id].price;
                            let art_price = document.querySelector('.art_price');
                            let art_prevPrice = document.querySelector('.art_prevPrice');

                            if (art_price) {
                                if (bestPrice < +products[product_id].price) {

                                    if (typeof globalCurrency.rate !== 'undefined') {
                                        art_price.innerText = formatMoney(bestPrice * +globalCurrency.rate);
                                        if (!art_prevPrice) {
                                            art_price.parentElement.insertAdjacentHTML("beforeend", `<span class="art_prevPrice">${formatMoney(products[product_id].price)}</span>`)
                                        }
                                    } else {
                                        art_price.innerText = formatMoney(+bestPrice);
                                        if (!art_prevPrice) {
                                            art_price.parentElement.insertAdjacentHTML("beforeend", `<span class="art_prevPrice">${formatMoney(products[product_id].price)}</span>`)
                                        }
                                    }

                                } else {
                                    if (typeof globalCurrency.rate !== 'undefined') {
                                        art_price.innerText = formatMoney(+products[product_id].price * globalCurrency.rate);
                                        if (art_prevPrice) {
                                            art_prevPrice.remove();
                                        }

                                    } else {
                                        art_price.innerText = formatMoney(products[product_id].price);
                                        if (art_prevPrice) {

                                            art_prevPrice.remove();
                                        }
                                    }

                                }
                            }

                        }
                    }

                    art_price_card.length && art_price_card.forEach((pCard) => {
                        if (+pCard.getAttribute('art-data-min').split('>').join('') === selectedMin) {
                            if (!pCard.classList.contains('active')) {

                                pCard.classList.add('active')
                            }
                        } else {
                            if (pCard.classList.contains('active')) {
                                pCard.classList.remove('active')
                            }
                        }
                    })


                } else {
                    let art_cart_badge = cartDOM.querySelector('.art_cart_badge');
                    if (art_cart_badge) art_cart_badge.remove();
                    delete_cookie('cartItems');
                }
            }
        }

        function continueToCheckout(id) {
            window.location = path + "products/checkout";
        }

        function rateProduct(product_id, id) {
            if (typeof window.event.currentTarget.value !== "undefined") {
                let rates = +window.event.currentTarget.value;
                let data = {

                    product_id,
                    rates: +window.event.currentTarget.value,
                    customer_name: '',
                    user_icon: '',
                    review: '',

                };

                (typeof id !== "undefined" && (data.id = id));
                // Work around stack on checked
                let prant = window.event.currentTarget.parentElement;
                if (prant) {
                    prant.querySelectorAll('input[checked="true"]').forEach(rate => {
                        if (rate.id !== window.event.currentTarget.id) {
                            rate.checked = !true;
                            rate.removeAttribute('checked');
                        }
                    })
                }

                axios.post("<%= path %>api/products/rate", data).then(res => {
                    if (res.data.status === "successful") {

                        let rated = read_cookie('rated') !== null ? read_cookie('rated') : {};
                        rated[product_id] = {
                            id: res.data.id,
                            rates
                        };
                        setCookie('rated', rated);

                        writeReview(product_id, 'update', res.data.id);
                    }
                });
            }
        }

        function writeReview(product_id, reviewPath, id) {
            reviewPath = reviewPath || 'review';

            artModal((funs) => {
                funs.open();
                lang_('Write a review').then(title => {
                    lang_('Type here...').then(placeHolder => {

                        funs.writeHeader(title);
                        funs.writeBody('<div class="art_input_co art_textera "><textarea class="art_input" placeholder="' + placeHolder + '" id="art_review"style="color: #304969;"></textarea></div>');

                        let submitBtn = funs.getButton(2);

                        submitBtn.addEventListener('click', function submitReview(e) {
                            let review = document.querySelector('#art_review');

                            if (review && review.value.trim() !== "") {
                                review.setAttribute("readonly", "true");
                                submitBtn.disabled = true;
                                submitBtn.classList.add('disabled');

                                axios.post("<%= path %>api/products/rate/" + reviewPath, {
                                    id: (typeof id !== "undefined" ? id : ''),
                                    product_id,
                                    review: review.value,
                                }).then(res => {
                                    submitBtn.disabled = !true;
                                    submitBtn.classList.remove('disabled');

                                    lang_('You did Great').then(title => {
                                        lang_('Thank you for your feedback').then(message => {
                                            funs.clear();
                                            funs.writeHeader(title);
                                            funs.writeBody('<div class="art_success"><h5>' + message + '</h5></div>');
                                            submitBtn.removeEventListener('click', submitReview);
                                            submitBtn.innerText = 'Done';
                                            submitBtn.addEventListener('click', function closeReview(e) {
                                                funs.close();
                                            });
                                        });
                                    });
                                }).catch((err) => {
                                    submitBtn.disabled = !true;
                                    submitBtn.classList.remove('disabled');

                                })
                            } else {
                                if (review) review.focus();
                            }
                        });

                    });
                });
            });
        }

        function artScrollSpy(element, className, cb) {
            let didScroll,
                lastScrollTop = 0,
                delta = 0;
            this.element = element || 'nav';
            this.className = className || 'fixed';
            this.nav = document.querySelector(this.element);
            this.navOff = this.nav.offsetTop;
            this.oNavOff = document.querySelector('nav');

            // let that = this;
            // console.log(this);

            document.addEventListener('scroll', (e) => {
                didScroll = true;
                if (didScroll) {
                    hasScrolled(this);
                    didScroll = false;
                }
            });

            // setInterval(() => {
            //     if (didScroll) {
            //         hasScrolled();
            //         didScroll = false;
            //     }
            // }, 20);

            function hasScrolled(that) {
                let st = this.scrollY;
                // Make sure they scroll more than delta
                // if (Math.abs(lastScrollTop - st) <= delta) {
                //     return;
                // }
                // If they scrolled down and are past the navbar, add class .nav-up.
                // This is necessary so you never see what is "behind" the navbar.

                if ((st) >= (that.navOff)) {
                    if (!that.nav.classList.contains(that.className)) {

                        that.nav.classList.add(that.className);
                        document.body.style.marginTop = that.oNavOff.offsetHeight + 'px';
                        if (typeof cb === "function") {
                            cb(that.nav, 'up');
                        }
                    }
                    return;
                } else {
                    if (that.nav.classList.contains(that.className)) {
                        that.nav.classList.remove(that.className);
                        document.body.style.marginTop = 0 + 'px';
                        if (typeof cb === "function") {
                            cb(that.nav, 'down');
                        }
                    }

                }
                lastScrollTop = st;
            }
        }
    </script>