<div class="art_banner container">
    <a href="#!">
    <img src="<%= path %>assets/img/store/banner0.png"/>
    </a>
</div>
<%- include('./_nav_v2.ejs') %>
    <main>
        <div class="container">

            <header class="art_shop_header">
                <div class="art_promo_co" id="promo_silders">

                    <!-- <div class="art_slides_co">
                        <img src="<%= path %>assets/img/store/slides/slide2.png " alt="">
                    </div> -->
                </div>
                <div class="art_top_options_co">
                    <div class="art_top_options">
                        <button class="art_btn art_gree_btn waves-effect"><em class="material-icons">help</em>
                            <div class="art_desc">
                                <span class="def">Help Center </span>
                                <span class="desc">Got Questions? we've got answers.</span>
                            </div>
                        </button>
                        <button class="art_btn art_gree_btn waves-effect"><em class="material-icons">help</em>
                            <div class="art_desc"><span class="def">Easy Return </span>
                            <span class="desc">Found malfunctions? tell us about it.</span></div>
                        </button>
                        <button class="art_btn art_gree_btn waves-effect"><em class="material-icons">help</em>
                            <div class="art_desc"><span class="def">Become a Reseller </span>
                            <span class="desc">Wanna do business with us? sign up.</span></div>
                        </button>

                    </div>
                    <div class="art_top_add">

                        <img src="<%= path %>assets/img/store/free-delivery.gif" />
                    </div>
                </div>
            </header>
            <div class="art_services_based " id="store_services">
                <div class="art_service_card"></div>
                <div class="art_service_card"></div>
                <div class="art_service_card"></div>
                <div class="art_service_card"></div>
            </div>
            <div class="art_category_based art_based_card">
                <div class="art_header">
                    <h6>Recommended</h6>
                </div>
                <div class="art_body" id="recommended_products">
                    <div class="art_prod_card"></div>
                    <div class="art_prod_card"></div>
                </div>
            </div>
            <div class="art_category_based art_based_card">
                <div class="art_header">
                    <h6>Vehicle Trackers</h6>
                </div>
                <div class="art_body">
                    <div class="art_prod_card"></div>
                    <div class="art_prod_card"></div>
                </div>
            </div>
            <div class="art_post_based ">
                <div class="art_body">
                    <div class="art_post_card">
                        <a href="https://wa.me/+256791676272/?text=<%= encodeURIComponent(lang_(" Hello,_I 'm_having_an_issue_making_order_on_your_website._Kindly_assist_me. "))%>" target="_blank" rel="noopener noreferrer">
                            <img src="<%= path  %>assets/img/store/Placing-order2.png" alt="Help placing order">
                        </a>

                    </div>
                    <div class="art_post_card">
                        <a href="#!">
                            <img src="<%= path  %>assets/img/store/To-resellers.png" alt="Help placing order"></div>
                        </a>

                    </div>
                </div>
            <div class="art_category_based art_based_card">
                <div class="art_header">
                    <h6>Others</h6>
                </div>
                <div class="art_body">
                    <div class="art_prod_card"></div>
                    <div class="art_prod_card"></div>
                </div>
            </div>
            </div>
    </main>