<!-- social media section starts here  -->
<section class="socialmedia">

    <div class="socialmedia__container">

        <div class="socialmedia__content">
            <h3 class="socialmedia__content__title">
                <%- lang_("Let's_Keep_connected") %>
            </h3>
            <p class="socialmedia__content__subtitle">
                <%- lang_("Follow_us_on_social_media_to_keep_up_with_us") %>.
            </p>
        </div>

        <div class="socialmedia__btns">

            <a target="_blank" href="<%- lang_(`@company_facebook`).replace('https:','') %>" class="art_social_btn"><img class="socialmedia__btns__pic facebook" src="<%= typeof path !== "undefined"?path:'' %>assets/img/services/facebook2.png" alt="<%- lang_(`@company_title`) %> Facebook"></a>
            <a target="_blank" href="<%- lang_(`@company_twitter`).replace('https:','') %>" class="art_social_btn"><img class="socialmedia__btns__pic twitter" src="<%= typeof path !== "undefined"?path:'' %>assets/img/services/twitter2.png" alt="<%- lang_(`@company_title`) %> Twitter"></a>
            <a target="_blank" href="<%- lang_(`@company_instagram`).replace('https:','') %>" class="art_social_btn"><img class="socialmedia__btns__pic instagram" src="<%= typeof path !== "undefined"?path:'' %>assets/img/services/instagram2.png" alt="<%- lang_(`@company_title`) %> Instagram"></a>
            <a target="_blank" href="<%- lang_(`@company_linkedin`).replace('https:','') %>" class="art_social_btn"><img class="socialmedia__btns__pic linkedln" src="<%= typeof path !== "undefined"?path:'' %>assets/img/services/linkedin2.png" alt="<%- lang_(`@company_title`) %> Linkedln"></a>

        </div>

    </div>
</section>